<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/src/output.css" type="text/css">
</head>

<body class="bg-dark-theme-background font-arial flex flex-col justify-center items-center h-screen text-slate-300">
  <div class="fixed top-0 ">
    <nav class="flex justify-around items-center gap-1 bg-slate-800/50 backdrop-blur-xl w-screen p-2 text-gray-300">
      <h1 class="text-2xl font-medium cursor-pointer"><a href="/">Book Directory</a></h1>
    </nav>
  </div>
  <div class="container flex justify-center items-center flex-col gap-5">
    <div class="text-center">
      <h1 class="font-bold text-4xl">SIGN UP</h1>
      <h2 class="text-slate-300/80 text-xl">Register a new account</h2>
    </div>
    <div class="w-full flex flex-col justify-center items-center text-dark-theme-secondary">
      <% if (error) { %>
      <h3 class="text-red-600"><%= error %></h3>
      <% } %>
      <form action="/auth/signUp.ejs" method="post" class="w-full flex flex-col justify-center items-center gap-3 text-lg">
        <div class="flex flex-col w-2/6 font-mono">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="w-full bg-transparent focus:outline-none text-dark-theme-on-background rounded-lg py-1 px-3 border-b-2 border-dark-theme-primary focus:border-b-2 focus:border-dark-theme-primary-variant valid:border-dark-theme-primary-variant transition ease-in-out duration-300" required />
        </div>
        <div class="flex flex-col w-2/6 font-mono">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="w-full bg-transparent focus:outline-none text-dark-theme-on-background rounded-lg py-1 px-3 border-b-2 border-dark-theme-primary focus:border-b-2 focus:border-dark-theme-primary-variant valid:border-dark-theme-primary-variant transition ease-in-out duration-300" required />
        </div>
        <div class="flex flex-col w-2/6 font-mono">
          <label for="password">password</label>
          <input type="password" name="password" id="password" class="w-full bg-transparent focus:outline-none text-dark-theme-on-background rounded-lg py-1 px-3 border-b-2 border-dark-theme-primary focus:border-b-2 focus:border-dark-theme-primary-variant valid:border-dark-theme-primary-variant transition ease-in-out duration-300" required />
        </div>
        <button type="submit" class="px-3 py-2 rounded-md border border-dark-theme-primary mt-3 hover:border-dark-theme-primary-variant hover:text-dark-theme-on-background hover:bg-dark-theme-primary-variant transition ease-in-out hover:shadow-md hover:shadow-dark-theme-secondary/30">Register</button>
      </form>
      <a href="./login.ejs" class="mt-3 underline-offset-2 hover:underline hover:text-dark-theme-on-background transition">Already have an account?</a>
    </div>
  </div>
</body>

</html>